@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
}

.login{
    padding: 10px 25px;
    color: white;
    background-color: black;
    border-radius: 6px; 
    margin-right: 20px;
    margin-top: 20px;
    font-family: Satoshi;
    font-weight: 600;
    cursor: pointer;
}

.heading {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 10px;
}

.heading h1,
.heading p {
    margin: 0;
}

.selection{
    margin-left: 50px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 50px;
}

.selection .section1{
    max-width: 450px;
    border: 2px solid black;
    padding: 0 30px;
    cursor: pointer;
    border-radius: 25px;
}
.selection .section2{
    max-width: 450px;
    border: 2px solid black;
    padding: 0 30px;
    cursor: pointer;
    border-radius: 25px;
}

.selection .section1:hover{
    border: 1px solid black;   
}
.selection .section2:hover{
    border: 1px solid black;
}